@using WebApplication1.Models.Languages
@using WebApplication1.Models.People

    @{
        PeopleViewModel pwm = new PeopleViewModel();
        foreach (Person p in Model)
        {


    <div class="row">
                    <p>Name: @p.Name</p>
                    <p>Phone Number: @p.PhoneNumber</p>
                @{
                if(p.PersonCity == null)
                {
                            <p>City: N/A</p>
                } else
                {
                            <p>City: @p.PersonCity.Name</p>
                    
                }
                }
                <p>Languages:</p>
                <a asp-controller="Language" action="Index">Manage Languages</a>
                <ul>
                    @foreach(var o in p.LanguagesLinkObject)
                {
                        <li>@o.Language.Name</li>
                }
                
                </ul>
                
                    <p>ID: @p.Id</p>
                    <a asp-action="Delete" asp-route-personId="@p.Id">Delete Person</a>
                    <hr/>
    </div>            
            }
            }
            