@using WebApplication1.Models.People

<div class="row">
    <p>@ViewData["PersonName"]</p>
    <p>@ViewData["PersonPhoneNumber"]</p>
    <p>@ViewData["PersonCity"]</p>
    <a asp-action="Delete" asp-route-personId="@ViewData["PersonID"]">Delete Person</a>
</div>
@*<td>@p.Name</td>
<td>@p.PhoneNumber</td>
<td>@p.City</td>
<td><a asp-action="Delete" asp-route-personId="@p.Id">Delete Person</a></td>*@