@using WebApplication1.Models.People

@model WebApplication1.Models.People.Person 

<div class="row">
    <p>@Model.Name</p>
    <p>@Model.PhoneNumber</p>
    <p>@Model.City</p>
    <a asp-action="Delete" asp-route-personId="@Model.Id">Delete Person</a>
</div>
@*<td>@p.Name</td>
<td>@p.PhoneNumber</td>
<td>@p.City</td>
<td><a asp-action="Delete" asp-route-personId="@p.Id">Delete Person</a></td>*@